{% extends 'base.html' %} {% load crispy_forms_tags %} {% load staticfiles %} {% block page_title %} Edit Stats {% endblock %} {% block content %}

<div class="row text-center">
    <div class="col-12">
        {% if object.hero.alignment == "Player" %}
        <h3 class="card-title boldest player-party">{{ object.hero.name }}</h3>
        {% else %}
        <h3 class="card-title boldest npc-party">{{ object.hero.name }}</h3>
        {% endif %}
    </div>
</div>
<div class="row text-center">
    <div class="col-6">
        {% if object.current_hp > object.hero.max_hp %}
        <h4><span class="boldest">HP:</span> {{ object.hero.max_hp }}/{{ object.hero.max_hp }}</h4>
        {% else %}
        <h4><span class="boldest">HP:</span> {{ object.current_hp }}/{{ object.hero.max_hp }}</h4>
        {% endif %}
    </div>
    <div class="col-6">
        <h3 class="card-text"><span class="boldest">Init:</span> {{ object.initiative }}</h3>
    </div>
</div>

<br>
<div class="stat-box">
    <div class="row text-center">
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Strengh: </span>{{ object.hero.strengh }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Dexterity: </span>{{ object.hero.dex }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Intelligence: </span>{{ object.hero.intel }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Wisdom: </span>{{ object.hero.wisdom }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Constitution: </span>{{ object.hero.con }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <p><span class="boldest">Charisma: </span>{{ object.hero.charisma }}</p>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a href="{% url 'combat_home' %}">
        <img src="{% static 'imgs/return-arrow.png' %}" alt="Training" class="img-fluid img-button">
    </a>
    </div>
</div>

<br> {% endblock %}
