{% extends 'base.html' %} {% load crispy_forms_tags %} {% block page_title %} Add Combatant {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h2>New Combatant</h2>
        <br>
        <form role="form" method="post" id="add-combatant-form" class="form-50" action="{% url 'add_hero' %}">
            {% csrf_token %} {{ hero_form.hero|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ hero_form.initiative|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ hero_form.current_hp|as_crispy_field }}
                </div>
            </div>

            <input class="btn btn-success" id="submit_combatant" name="commit" type="submit" value="Add Combatant">
        </form>
    </div>
</div>
<br> {% endblock %}
