{% extends 'base.html' %} {% block page_title %} Add Combatant {% endblock %} {% block content %}


<div class="row">
    <div class="col-12 text-center">
        <h2>New Combatant</h2>
        <br>
        <form role="form" method="post" id="add-combatant-form" action="{% url 'add_hero' %}">
            <div class="form-group">
                {{ hero_form.as_p }} {% csrf_token %}
                <input class="btn btn-success" id="submit_combatant" name="commit" type="submit" value="Add Combatant">
            </div>
        </form>
    </div>
</div>
<br> {% endblock %}
