{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} Combat Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Combat</h1>
            <hr class="bar-thin">
            <h3>Add combatants below and tap Start Combat to begin the fight</h3>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <a href="{% url 'add_hero' %}" role="button" class="btn btn-warning" aria-disabled="false">Add Player</a>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-12">
        {% for p in party %}
        <h5 class="card-title">{{ p.hero.name }}</h5>
        <p>Current HP: {{ p.current_hp }}</p>
        <p class="card-text">Max HP: {{ p.hero.max_hp }}</p>
        <p class="card-text">Init: {{ p.initiative }}</p>
        <div class="row">
            <div class="col-6">
                <form class="" method="post" action="{% url 'delete_hero_int' p.hero.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit">Delete</button>
                </span>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <a href="{% url 'edit_hero' p.hero.id  %}" role="button" class="btn btn-warning" aria-disabled="false">Edit Hero</a>
            </div>
        </div>
        <br> {% endfor %}
    </div>
</div>
<hr class="bar-thin">
<div class="col-12">
    <div class="text-center">
        <a href="#" role="button" class="btn btn-warning" aria-disabled="false">Start Combat</a>
    </div>
</div>
<br>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/combat.js' %}"></script>
{% endblock %}
