{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} Combat Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Combat</h1>
            <hr class="bar-thin">
            <h3>Add combatants below and tap Start Combat to begin the fight</h3>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <a href="{% url 'add_hero' %}" role="button" class="btn btn-warning" id="add-hero" aria-disabled="false">Add
            Combatant</a>
    </div>
</div>
<br>

<br>

<div class="card-deck text-center">
    {% for p in party %}
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                {% if p.hero.alignment == "Player" %}
                <h3 class="card-title boldest player-party">{{ p.hero.name }}</h3>
                {% else %}
                <h3 class="card-title boldest npc-party">{{ p.hero.name }}</h3>
                {% endif %} {% if p.current_hp > p.hero.max_hp %}
                <p><span class="boldest">HP:</span> <span id="card-hp">{{ p.hero.max_hp }}</span>/<span id="card-max-hp">{{ p.hero.max_hp }}</span></p>
                {% else %}
                <p><span class="boldest">HP:</span> <span id="card-hp">{{ p.current_hp }}</span>/<span id="card-max-hp">{{ p.hero.max_hp }}</span></p>
                {% endif %}
                <p class="card-text"><span class="boldest">Init:</span> {{ p.initiative }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <form class="" method="post" action="{% url 'delete_hero_int' p.hero.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">Delete</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'edit_hero' p.hero.id  %}" role="button" class="btn btn-warning" aria-disabled="false">Edit Stats</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-warning" href="{% url 'single_member' pk=p.pk %}" role="button" aria-disabled="false">View Stats</a>

                        <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#{{ p.hero.name }}Model">Quick View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="{{ p.hero.name }}Model" tabindex="-1" role="dialog" aria-labelledby="combatModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">{{ p.hero.name }} {% if p.current_hp > p.hero.max_hp %}
                        <span class="boldest">HP:</span> <span id="model-hp">{{ p.hero.max_hp }}</span>/<span id="model-max-hp">{{ p.hero.max_hp }}</span></h5>
                    {% else %}
                    <span class="boldest">HP:</span> <span id="model-hp">{{ p.current_hp }}</span>/<span id="model-max-hp">{{ p.hero.max_hp }}</span></h5>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <p><span class="boldest">Armor</span></br><span class="armor-stat">{{ p.hero.armor }}</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Speed</span></br><span class="speed-stat">{{ p.hero.speed }}</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Initiative</span></br><span class="int-stat">{{ p.initiative }}</span></p>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-4">
                            <p><span class="boldest">Str</span></br><span class="str-stat">{{ p.hero.strengh }}</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Dex</span></br><span class="dex-stat">{{ p.hero.dex }}</span></p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Con</span></br><span class="con-stat">{{ p.hero.con }}</span></p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Int</span></br><span class="int-stat">{{ p.hero.intel }}</span></p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Wis</span></br><span class="wis-stat">{{ p.hero.wisdom }}</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><span class="boldest">Cha</span></br><span class="cha-stat">{{ p.hero.charisma }}</span>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="row-text-center">
                        {% for weapon in p.hero.weapons.all %}
                        <div class="single-weapon">
                            <span class="weapon-name">{{ weapon.name }}</span>
                            <div class="weapon-die">{% for d in weapon.die.all %}<span class="die-value">{{ d.number_of_die }}{{ d.die }} </span>{% endfor %}</div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

<hr class="bar-thin">
<div class="col-12">
    <div class="text-center">
        <a href="{% url 'delete_all_from_combat' %}" role="button" class="btn btn-warning" id="delete-all-combat" aria-disabled="false" onclick="return confirm('Are you sure you to delete all combatants?');">Delete All
            From Combat</a>
    </div>
</div>
<br>

<br>
<div class="col-12">
    <div class="text-center">
        <a href="{% url 'start_combat' %}"><button id="start-combat" class="btn btn-warning" aria-disabled="false">Start
                Combat</button></a>
    </div>
</div>
<br> {% endblock %}