{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} Combat Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Combat</h1>
            <hr class="bar-thin"></hr>
            <h3>Add combatants below and tap Start Combat to begin the fight</h3>
        </div>
    </div>
</div>
<div class="combat-flow">
    <div class="row text-center">
        <div class="col-6">
            <a href="#" role="button" class="btn btn-warning" aria-disabled="false">Add Player</a>
        </div>
        <div class="col-6">
            <a href="#" role="button" class="btn btn-warning" aria-disabled="false">Add Enemy</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <button type="button" class="btn btn-success">Start Combat</button>
        </div>
    </div>
</div>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/combat.js' %}"></script>
{% endblock %}
