{% extends 'base.html' %} {% load crispy_forms_tags %}  {% block page_title %} Edit Stats {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h2>Edit {{ hero.hero }}</h2>
        <br>
        <form role="form" method="post" id="edit-stats">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ hero_form.initiative|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ hero_form.current_hp|as_crispy_field }}
                </div>
            </div>
            <input class="btn btn-success" id="edit_combatant" name="commit" type="submit" value="Edit Stats">
        </form>
    </div>
</div>
<br> {% endblock %}
