{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} Start Combat {% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Start Combat</h1>
            <hr class="bar-thin">
            <h3>Game Flow!</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="{% url 'combat_home' %}">
            <img src="{% static 'imgs/return-arrow.png' %}" alt="Training" class="img-fluid img-button">
        </a>
    </div>
</div>

<br>


<div class="card-deck text-center">
    {% for p in party %}
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                {% if p.hero.alignment == "Player" %}
                <h3 class="card-title boldest player-party">{{ p.hero.name }}</h3>
                {% else %}
                <h3 class="card-title boldest npc-party">{{ p.hero.name }}</h3>
                {% endif %} {% if p.current_hp > p.hero.max_hp %}
                <p><span class="boldest">HP:</span> <span id="card-hp" class="hp-meter">{{ p.hero.max_hp }}</span>/<span
                        id="card-max-hp">{{ p.hero.max_hp }}</span></p>
                {% else %}
                <p><span class="boldest">HP:</span> <span id="card-hp" class="hp-meter">{{ p.current_hp }}</span>/<span
                        id="card-max-hp">{{ p.hero.max_hp }}</span></p>
                {% endif %}
                <p class="card-text"><span class="boldest">Init:</span> {{ p.initiative }}</p>
            </div>
            <div class="card-footer">
                <div class="row text-center">
                    <div class="col-md-4">
                        <p><span class="boldest">Str</span></br><span class="str-stat">{{ p.hero.strengh }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span class="boldest">Dex</span></br><span class="dex-stat">{{ p.hero.dex }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span class="boldest">Int</span></br><span class="int-stat">{{ p.hero.intel }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span class="boldest">Wis</span></br><span class="wis-stat">{{ p.hero.wisdom }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span class="boldest">Con</span></br><span class="con-stat">{{ p.hero.con }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p><span class="boldest">Cha</span></br><span class="cha-stat">{{ p.hero.charisma }}</span></p>
                    </div>
                    <br>
                </div>
            </div>
            <span class="weapons-row">
                {% for weapon in p.hero.weapons.all %}
                <div class="single-weapon">
                    <span class="weapon-name">{{ weapon.name }}</span>
                    <div class="weapon-die">{% for d in weapon.die.all %}<span class="die-value">{{ d.number_of_die }}{{ d.die }}</span>{% endfor %}</div>
                </div>
                {% endfor %}
            </span>
        </div>
    </div>

    {% endfor %}
</div>


<div class="row">
    <div class="col-12">
        <div class="combat-box text-center" id="hide-combat">
            <div class="combat-inner">
                <h3 id="turn-owner">It's <span id="turn-name"></span> Turn!</h3>
                <h3 id="turn-health">Current HP: <span id="turn-hp"></span>/<span id="turn-max-hp"></span></h3>
            </div>
            <div class="combat-buttons">
                <div class="row">
                    <div class="col-3"><button class="btn btn-warning" id="attack-button"
                            aria-disabled="false">Attack</button></div>
                    <div class="col-3"><button class="btn btn-warning" id="move-button"
                            aria-disabled="false">Move</button></div>
                    <div class="col-3"><button class="btn btn-warning" id="spell-button"
                            aria-disabled="false">Spell</button></div>
                    <div class="col-3"><button class="btn btn-warning" id="item-button"
                            aria-disabled="false">Item</button></div>
                </div>
                <div class="target-row">
                    <div class="col-12">
                        <br>
                        <div id="targets">
                            <br>
                        </div>
                        <div class="weapon-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Attack Model -->

    <div class="modal" id="attackModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div id="attack-body"></div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="testdata"></div>
                    <div id="rolls"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancel-confirm">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                        id="attack-confirm">Attack</button>
                </div>

            </div>
        </div>
    </div>






    <br>
    <br>
    <div class="col-12">
        <div class="text-center">
            <button id="start-combat" class="btn btn-warning" aria-disabled="false">Start Combat</button>
            <button id="next-button" class="btn btn-warning" aria-disabled="false">Next</button>
            <button id="next-round" class="btn btn-warning" aria-disabled="false">Next Round</button>
        </div>
    </div>
    <br> {% endblock %} {% block script_js %}
    <script type="text/javascript" src="{% static 'js/combat.js' %}"></script>
    {% endblock %}