{% extends 'base.html' %} {% block page_title %} Party Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Party</h1>
            <hr class="bar-thin"></hr>
            <a href="{% url 'add_player' %}" role="button" class="btn btn-outline-warning" aria-disabled="false">Add Player</a>
        </div>
    </div>
    
    <div class="col-12">
        {% for p in players %}
        <h3>{{ p.name }}</h3>
        <h4>{{ p.hp }}</h4>
        {% endfor %}
    </div>
</div>
{% endblock %}
