{% extends 'base.html' %} {% block page_title %} Party Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Party</h1>
            <hr class="bar-thin"></hr>
            <a href="{% url 'add_player' %}" role="button" class="btn btn-outline-warning" aria-disabled="false">Add Player</a>
        </div>
    </div>
</div>

<div class="card-deck text-center">
    {% for p in players %}
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">HP: {{ p.max_hp }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <form class="" method="post" action="{% url 'delete_player' p.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">Delete</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'edit_player' p.id  %}" role="button" class="btn btn-warning" aria-disabled="false">Edit Hero</a>
                    </div>

                </div>
            </div>
            <br> {% endfor %}
        </div>
        <br> {% endblock %}
