{% extends 'base.html' %} {% block page_title %} Monster Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Monsters</h1>
            <hr class="bar-thin"></hr>
            <a href="{% url 'add_enemy' %}" role="button" class="btn btn-warning" aria-disabled="false">Add Monster</a>
        </div>
    </div>
</div>

<div class="card-deck text-center">
    {% for m in monsters %}
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title bolest">{{ m.name }}</h3>
                <p class="card-text"><span class="boldest">Max HP: </span>{{ m.max_hp }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <form class="" method="post" action="{% url 'delete_monster' m.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit" onclick="return confirm('Are you sure you to delete {{ m.name }}');">Delete</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'edit_monster' m.id  %}" role="button" class="btn btn-warning" aria-disabled="false">Edit Monster</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> {% endfor %}
</div>
<br>
{% endblock %}
