@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Slabo+27px&display=swap');

/* Background */

.bg {
    background-color: #8DE8C3;
    height: 100%;
}


/* NavBar */

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.navbar li a:hover {
    color: #fafafa;
}


/* Text Helpers */


.main-text {
    font-family: 'Roboto', sans-serif;
}

.slabo-text {
    font-family: 'Slabo 27px', serif;
}


/* Form Helpers */


.input-group {
    display: inline-block;
}


/* Party */



/* Combat */

.btn-warning {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-warning:hover {
    background-color: #25da46;
    border-color: black;
}


.combat-box {
    width: 375px;
    height: 25%;
    display: inline-block;
}

.boldest {
    font-weight: 700;
}


/* Breaks */


.bar-thin {
    width: 25rem;
    height: 1.5px;
    border: 0;
    background-color: #ffffff;
}