@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Slabo+27px&display=swap');

/* Background */

.bg {
    background-color: #8DE8C3;
    height: 100%;
}


/* NavBar */

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.navbar li a:hover {
    color: #fafafa;
}


/* Text Helpers */


.main-text {
    font-family: 'Roboto', sans-serif;
}

.slabo-text {
    font-family: 'Slabo 27px', serif;
}


/* Helpers */


.input-group {
    display: inline-block;
}

.img-button {
    height: 75px;
    width: 75px;
}


/* Party */



/* Buttons */

.btn-warning {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-warning:hover {
    background-color: #25da46;
    border-color: black;
}


/* Combat */

.combat-box {
    width: 100%;
    height: 22rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
}

.combat-inner {
    padding: 3rem 0;
}

#hide-combat {
    display: none;
}

.boldest {
    font-weight: 700;
}

.player-party {
    color: #0c9e0c;
}

.npc-party {
    color: #c91212;
}

.card-deck .card {
    margin-bottom: 1rem;
}

.stat-box {
    font-size: 1.4rem;
}

.select-box {
    border-color: red;
}

.fixed {
    position: fixed;
}

#next-round,
#next-button {
    display: none;
}

/* Breaks */


.bar-thin {
    width: 15rem;
    height: 1.5px;
    border: 0;
    background-color: #ffffff;
}


/* Form Helpers */

.form-50 {
    width: 50%;
    display: inline-block;
}

.no-bullet {
    list-style: none;
}