@import url('https://fonts.googleapis.com/css?family=Exo:200,500,800&display=swap');

/* Background */

.bg {
    background-color: #311F18;
    height: 100%;
    font-family: 'Exo', sans-serif;
    color: #ebd8cd
}


/* NavBar */

.nav-bg {
    background-color: #2d2b0e;
    font-family: 'Exo', sans-serif;
}

.link-helper,
.nav-bg a {
    color: #f4f4f4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.link-helper:hover ,
.nav-bg a:hover {
    color: #A73B51
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #f4f4f4;
    margin: 8px 2px;
}


/* Text Helpers */



/* Helpers */


.input-group {
    display: inline-block;
}

.img-button {
    height: 75px;
    width: 75px;
}

.card,
.jumbotron {
    color: #2d2b0e;
}

/* Party/Monsters */


.party-weapon-row {
    text-align: center;
}

.card-small-text {
    font-size: 75%;
    font-weight: 200;
}


/* Equipment */


.wep-icon:hover {
    background-color: #3b3916;
}

.box-button a,
.weapon-armony-list a {
    color: #ebd8cd
}

.box-button a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.box-button a:hover {
    color: #ffffff
}

.modal,
.modal a {
    color: #311F18;
}

.wep-icon {
    border-radius: 3px;
    height: 32px;
    width: 32px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.wep-icon,
.weapon-model-item a {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    padding: 2.5px;
}

.weapon-model-item a:hover {
    color: rgb(15, 11, 10);
}


.item-title {
    text-align: center;
}

.box-button {
    padding: 1rem;
}


/* Buttons */


.btn-warning {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-warning:hover {
    background-color: #25da46;
    border-color: black;
}


/* Combat */


.combat-box {
    width: 100%;
    height: 22rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
}

.combat-inner {
    padding: 3rem 0;
}

#hide-combat {
    display: none;
}

.boldest {
    font-weight: 700;
}

.player-party {
    color: #0c9e0c;
}

.npc-party {
    color: #c91212;
}

.card-deck .card {
    margin-bottom: 1rem;
}

.stat-box {
    font-size: 1.4rem;
}

.select-box {
    border-color: red;
}

.attacked-box {
    border-color: green;
}

.attack-action {
    margin: 10px;
}

.fixed {
    position: fixed;
}

#targets,
#next-round,
#next-button,
.weapons-row,
.weapon-list{
    display: none;
}

.target-list {
    list-style-type: none;
}




/* Breaks */


.bar-thin {
    width: 15rem;
    height: 1.5px;
    border: 0;
    background-color: #ffffff;
}

.card-break {
    width: 15rem;
    height: 1px;
    border: 0;
    background-color: #111111;
}


/* Form Helpers */


.form-50 {
    width: 50%;
    display: inline-block;
}

.no-bullet {
    list-style: none;
}