{% extends 'base.html' %} {% load static %} {% block page_title %} Equipment Home {% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1 class="slabo-text">Equipment</h1>
            <hr class="bar-thin">
            </hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h3 class="item-title">Weapons</h3>
        <ul>
            {% for w in weapons %}
            <li class="weapon-armony-list"><a href="#" data-toggle="modal" data-target="#{{ w.name|cut:' ' }}Model">{{ w.name }} -
                    <span>{% for d in w.die.all %}
                        {{ d.number_of_die }}{{ d.die }} {% endfor %}</span></a>
            </li>


            <!-- Modal -->
            <div class="modal fade" id="{{ w.name|cut:' ' }}Model" tabindex="-1" role="dialog" aria-labelledby="weaponModel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ w.name }} - <span class="small">{% for d in w.die.all %}
                                {{ d.number_of_die }}{{ d.die }} {% endfor %}</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="weapon-model-item">
                                <a href="{% url 'edit_weapon' w.id  %}">
                                    Edit Weapon
                                    <!-- <img src="{% static 'imgs/anvil-impact.png' %}" alt="Edit Weapon" class="img-fluid wep-icon"> -->
                                </a>
                            </span>
                            <span class="weapon-model-item">
                                <a href="{% url 'delete_weapon' w.id  %}">
                                    Delete Weapon
                                    <!-- <img src="{% static 'imgs/trash-can.png' %}" alt="Delete Weapon" class="img-fluid wep-icon"> -->
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </ul>


        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'add_weapon' %}" role="button" class="btn btn-warning mb-3" id="add-weapon" aria-disabled="false">Add Weapon</a>
            </div>
        </div>


    </div>



    <div class="col-6">
        <h3 class="item-title">Skills:</h3>
        <li class="weapon-armony-list mb-4">
            {% for s in skills %} {{ s.name }} {% for d in s.die.all %} {{ d.number_of_die }}{{ d.die }} {% endfor %} {% endfor %}
        </li>

        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'add_skill' %}" role="button" class="btn btn-warning" id="add-skill" aria-disabled="false">Add Skill</a>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <div class="col-12">

            <a href="{% url 'die_pot' %}" role="button" class="btn btn-warning" id="die-pot" aria-disabled="false">Die Pot</a>
        </div>
    </div>
</div>




{% endblock %}